a2wsgi==1.10.10
argon2pure==1.3
bcryptor==1.2.2
brotli==1.2.0
brotlicffi==1.1.0.0
cffi==2.0.0
chardet==4.0.0
chardet==5.2.0
checks==0.2
ConfigParser==7.2.0
contextlib2==21.6.0
curio==1.6
cx_Oracle==8.3.0
Cython==3.2.5
docutils==0.23
email_validator==2.3.0
eval_type_backport==0.3.1
exceptiongroup==1.3.1
fastapi_cli==0.0.24
fastpbkdf2==0.2
filelock==3.29.0
gmpy==1.17
gmpy2==2.2.1
greenlet==3.2.4
gunicorn==26.0.0
h2==4.3.0
HTMLParser==0.0.2
httpx2==2.3.0
httpx_aiohttp==0.1.12
hypothesis==6.155.1
importlib_metadata==8.7.1
importlib_metadata==8.7.0
importlib_metadata==8.0.0
importlib_resources==7.1.0
ipython==8.18.1
ipython==9.7.0
ipywidgets==8.1.8
ipywidgets==8.1.7
itsdangerous==2.2.0
Jinja2==3.1.6
jnius==1.1.0
js==1.0
keyring==25.7.0
matplotlib==3.5.1
mtrand==0.1
multipart==1.3.1
nose==1.3.7
outcome==1.3.0.post0
pandas==1.2.4
protobuf==7.35.0
psutil==7.2.1
psutil==7.0.0
pydantic_extra_types==2.11.1
PyInstaller==6.20.0
pyodide==0.0.2
pyOpenSSL==26.2.0
pysqlcipher3==1.2.0
pytest==8.4.2
pytest.egg==info
pytest_run_parallel==0.9.0
python_multipart==0.0.30
python_socks==2.8.1
pywin32==311
redis==5.2.1
redis==5.0.7
scipy_doctest==2.2.0
setuptools==80.9.0
simplejson==4.1.1
slack_sdk==3.42.0
socksio==1.0.0
sounddevice==0.5.5
speedups==2.1.0
Sphinx==9.1.0
sqlcipher3==0.6.2
tensorflow==2.21.0
threadpoolctl==3.6.0
toml==0.10.2
unittest2==1.1.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
Werkzeug==3.1.8
winloop==0.3.1
wsproto==1.3.2
xmlrpclib==1.0.1
zstandard==0.24.0
